{% extends 'base.html.twig' %}

{% block title %}Imagen{% endblock %}

{% block body %}
    <h1>Imagen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imagen.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ imagen.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_imagen_index') }}">back to list</a>

    <a href="{{ path('app_imagen_edit', {'id': imagen.id}) }}">edit</a>

    {{ include('imagen/_delete_form.html.twig') }}
{% endblock %}
